Relational/Relational.Core.Client/Service References/RelationalProxy/RelationalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RelationalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRelationalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/RelationalInternal2/RelationalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/RelationalInternal2/RelationalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/RelationalInternal2/RelationalService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost/RelationalInternal2/RelationalService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelationalService_DownloadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReport" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_DownloadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReportResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_DownloadReport2_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReport2" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_DownloadReport2_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReport2Response" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal1" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal1Response" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal2" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal2Response" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal3" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetInternal3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetInternal3Response" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetReportDataPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportDataPaged" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetReportDataPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportDataPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetList" />
  </wsdl:message>
  <wsdl:message name="IRelationalService_GetDataSetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetListResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelationalService">
    <wsdl:operation name="DownloadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/DownloadReport" message="tns:IRelationalService_DownloadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/DownloadReportResponse" message="tns:IRelationalService_DownloadReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport2">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/DownloadReport2" message="tns:IRelationalService_DownloadReport2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/DownloadReport2Response" message="tns:IRelationalService_DownloadReport2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/TestConnection" message="tns:IRelationalService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/TestConnectionResponse" message="tns:IRelationalService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetData" message="tns:IRelationalService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetDataResponse" message="tns:IRelationalService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal1">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal1" message="tns:IRelationalService_GetDataSetInternal1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal1Response" message="tns:IRelationalService_GetDataSetInternal1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal2">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal2" message="tns:IRelationalService_GetDataSetInternal2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal2Response" message="tns:IRelationalService_GetDataSetInternal2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal3">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal3" message="tns:IRelationalService_GetDataSetInternal3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetInternal3Response" message="tns:IRelationalService_GetDataSetInternal3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDataPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetReportDataPaged" message="tns:IRelationalService_GetReportDataPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetReportDataPagedResponse" message="tns:IRelationalService_GetReportDataPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetList" message="tns:IRelationalService_GetDataSetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelationalService/GetDataSetListResponse" message="tns:IRelationalService_GetDataSetList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRelationalService" type="tns:IRelationalService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRelationalService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadReport">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/DownloadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport2">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/DownloadReport2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal1">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetDataSetInternal1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal2">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetDataSetInternal2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetInternal3">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetDataSetInternal3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDataPaged">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetReportDataPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetList">
      <soap:operation soapAction="http://tempuri.org/IRelationalService/GetDataSetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelationalService">
    <wsdl:port name="BasicHttpBinding_IRelationalService" binding="tns:BasicHttpBinding_IRelationalService">
      <soap:address location="https://rryvkin10l/RelationalInternal2/RelationalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>